/* ==================================================
                    GLOBAL VALUES                    
   ================================================== */
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Mitr:wght@200;300;400;500;600;700&display=swap');


/* html {
    box-sizing: border-box;
}*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Root Variables */
:root {
    --colour-one: #DB388F;
    --colour-two: #CBDF1E;
    --colour-three: #7B4B9D;
    --colour-four: #1D252C;
    --colour-five:#6885D1;
    --background: #fafafa;
    --ff-headings: "Mitr", sans-serif;
    --ff-sub-headings: "Josefin Sans", sans-serif;
    --ff-general: "Afacad", sans-serif;
    --font-size-general: 1rem;
    --font-weight-general: 400;
    --mw: 1200px;
}


body {
    margin: 0;
    font-family: var(--ff-general);
    font-size: var(--font-size-general);
    font-weight: var(--font-weight-general);
    background-color: var(--background);
}

.main-wraper {
    max-width:var(--mw);
}

h1 {
    font-family: var(--ff-headings);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.85rem;
}

h2 {
    font-family: var(--ff-sub-headings);
    text-transform: uppercase;
    font-weight: 600;
}

h3,
nav,
p,
a {
    font-family: var(--ff-general);
    font-weight:400;
    font-style: normal;
}


.txt {
    text-transform: uppercase;
}

a{
    cursor: pointer;
}
/* anchor links */
.nav-link a{
  /* --bs-navbar-color: rgba(255, 255, 255, 0.55); */
  --bs-navbar-hover-color: #A04ADD;
  /* --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25); */
  /* --bs-navbar-active-color: var(--colour-one); */
  /* --bs-navbar-brand-color: #fff; */
  /* --bs-navbar-brand-hover-color: #fff; */
  /* --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1); */
  /* --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); */
}

.nav-link {
        --bs-nav-link-font-weight: 600;
        --bs-nav-link-color: var(--background);
        --bs-nav-link-hover-color: var(--colour-two);
        /* --bs-nav-link-active-color:red; */
}

.nav-link.active {
    --bs-navbar-active-color:var(--colour-five);
}

/* Change colour hamburger menu icon */
.navbar-toggler {
    --bs-navbar-toggler-border-color: var(--background);
}
.navbar-toggler-icon {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Button color and states */
.btn-primary {
    --bs-btn-bg: var(--colour-one);
    --bs-btn-border-color:var(--colour-one);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--colour-three);
    --bs-btn-hover-border-color: var(--colour-three);
    --bs-btn-focus-shadow-rgb: 174, 101, 226;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #803bb1;
    --bs-btn-active-border-color: #7838a6;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--colour-one);;
    --bs-btn-disabled-border-color: var(--colour-one);;
  }

  .btn-light {
    --bs-btn-bg: var(--colour-two);
    --bs-btn-border-color:var(--colour-two);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--colour-five);
    --bs-btn-hover-border-color: var(--colour-five);
    --bs-btn-focus-shadow-rgb: 174, 101, 226;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6384d5;
    --bs-btn-active-border-color: #6384d5;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--colour-one);;
    --bs-btn-disabled-border-color: var(--colour-one);;
  }

/* ==================================================
                    DEFAULT VALUES - MOBILE                   
   ================================================== */

.full-image {
    /* position: absolute; */
    width: 100%;
}

.logo {
    width: 9.375rem;
}

/* Background Navigation Menu */
.nav-bg {

    background-color: var(--background);
    background-image: url("../images/background-banner.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.gradient {
    height: 12vh;
    background: rgb(29, 37, 44);
    background: linear-gradient(180deg,
            rgba(29, 37, 44, 1) 0%,
            rgba(55, 48, 75, 1) 35%,
            rgba(80, 58, 105, 1) 55%,
            rgba(123, 75, 157, 1) 95%);
}


/* HERO SECTION  */
#hero {
    background-color: var(--background);
    background-image: url(../images/hero-banner.jpg);
    background-position: center center;
    background-size: cover;
}

.hero h1 {
    font-size: 3rem;
}

/* Add the height to the hero*/
#hero .d-flex {
    height: 50vh;
}

.hero h1 {
    color: var(--colour-one);
}

/* TRANSFORM YOUR DIGITAL PRESENCE */
.icon-value {
    max-width: 160px;
}

/* ARTWORKS COLLECTION */
.top-left-rounded {
    border-top-left-radius: 80px;
}

.bottom-right-rounded {
    border-bottom-right-radius: 80px;
}

/* Tapes Decoration */

.position-tape {
    position: relative;
}

.tape {
    width: 5rem;
    position: absolute;
    transform: translate(-160px, -20px);
}

.position-tape-two {
    position: relative;
}

.tape-two {
    width: 5rem;
    transform: translate(-10px, -20px);
}

/* MASTERPIECES */
.service-rounded {
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;

}

/* FEATURED ARTISTS */
.categories img{
    width: 80%;
}

.left{
    transform: rotate(-20deg);
}

.right{
    transform: rotate(20deg);
}

.feature-image {
    object-fit: cover;
    max-height: 35vh;
    max-width: 35vh;
}


#tape-craft.tape-crafter {
    width: 5rem;
    position: absolute;
    transform: translate(-10px, -130px);
}

.gradient-footer {
    background: rgb(29, 37, 44);
    background: linear-gradient(180deg,
            rgba(29, 37, 44, 1) 0%,
            rgba(55, 48, 75, 1) 35%,
            rgba(80, 58, 105, 1) 55%,
            rgba(123, 75, 157, 1) 95%);
}


/******************** OUR STUDIO ********************/

/* MISSION */
.mission-img{
    object-fit: cover;
    height: 35vh;
    width: 35vh;
}


/******************** CONTACT US ********************/

.tape-form {
    width: 7rem;
    position: absolute;
    transform: translate(10px, -20px);
}

/* VISIT US */
/* set the dimensions and padding for the map */
.block-map .gmap {
    border: 0;
    width: 100%;
    height: 50vh;
}